<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - PETNET</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @*<link href="~/Content/bootstrap.min.css" rel="stylesheet" />*@
    @RenderSection("styles", false) 

</head>
<body>
    <div class="header ">
        <nav class="navbar navbar-expand-lg container-fluid">
            <div class="header-images ">
                <!-- Petnet Logo -->
                <a href="@Url.Action("About", "Home")">
                    <img src="~/Images/petnetLogo_hover.png" height="75" />
                </a>
            </div>

            <div class="collapse navbar-collapse d-flex flex-row-reverse">
                <ul class="nav navbar-nav nav">
                    <li>
                        <a href="@Url.Action("About", "Home")">
                            <img src="~/Images/bell_notification.png" height="45" />
                        </a>
                    </li>
                    @Html.Partial("_LoginPartial")
                    <li>
                        <a href="@Url.Action("About", "Home")">
                            <img src="~/Images/menuIcon.png" height="45" />
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
        

        <div class="header-menu">
            <ul class="header-menu-list">
                <li class="header-menu-list-item">@Html.ActionLink("Animals", "AdoptionApplication", "Animals")</li>
                <li class="header-menu-list-item">@Html.ActionLink("Shelters", "ShelterNetwork", "Shelters")</li>
                <li class="header-menu-list-item">@Html.ActionLink("Events", "Submenu", "Events")</li>
                <li class="header-menu-list-item">@Html.ActionLink("Community", "Index", "Community")</li>
                <li class="header-menu-list-item">@Html.ActionLink("Donate", "Index", "Donate")</li>
                <li class="header-menu-list-item">@Html.ActionLink("Fundraising", "Index", "Fundraising")</li>
            </ul>
        </div>
    </div>


    <div class="body-content">
        @RenderBody()

    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    <footer>
        <div class="footer-images">
        </div>
    </footer>
</body>
</html>