@model IEnumerable<DataObjects.Shelter>

@{
    ViewBag.Title = "Index";
}

@section styles
{
    <link href="~/Content/ShelterNetwork.css" rel="stylesheet" />
}



<h2 class="text-center">Shelter Network</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ShelterName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Phone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ShelterName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
        </tr>
    }

</table>
